@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../assets/fonts/MuseoSansCyrl.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MuseoSansCyrl_250";
  src: url("../assets/fonts/MuseoSansCyrl_250.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
